/*********************************\
              DEBUG
\*********************************/

* {
	border: 1px dotted gray;
}

header {
	border: 0;
	background-color: #FFFFAA;
}

nav {
	border: 0;
	background-color: #FFAAAA;
}

article {
	border: 0;
	background-color: #AAAAFF;
}

footer {
	border: 0;
	background-color: #AAFFAA;
} 
