/*********************************\
              GLOBAL
\*********************************/

/*
Ensure that padding and borders shrink content instead of extending size.
*/
* {
	box-sizing: border-box;
}

body {
}

div {
	margin: 0;
	padding: 0;
}

/*
Blog pages are produced in separate files which apply the blog ID to the body,
not an article, so we apply these rules to the ID itself for the style to be
applied also in this context.
*/
article, #blog {
	counter-reset: figureCounter;
}

figure {
	text-align: center;
	counter-increment: figureCounter;
}

figcaption {
	font-weight: bold;
	margin-top:1em;
	margin-bottom:1em;
}

figcaption:before {
	content: 'Fig.\00a0' counter(figureCounter) '\00a0\2013\00a0';
}

dl.short dt {
	display: inline;
	margin: 0;
	padding: 0;
	margin-left: 1.5em;
}

dl.short dt:before {
	content: "\25CF\00a0";
}

dl.short dt:after {
	content: "\00a0=\00a0";
}

dl.short dd {
	display: inline;
	margin: 0;
	padding: 0;
}

dl.short dd:after {
	content: "\A";
	white-space: pre;
}

dl.center {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

dl.center dt, dl.center dd {
	display: inline-block;
	width: 50%;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
	vertical-align: top;
}

dl.center dt {
	text-align: right;
	padding-right: 1.5em;
}

dl.center dd {
	display: inline-block;
	width: 50%;
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
}

div.toggleButton {
	display: inline-block;
	padding: 0.5em;
	background-color: #07F;
	color: #FFF;
	border: 1px solid blue;
	clear: both;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
body {
	margin: 0;
	padding: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
}
/*********************************\
              HEADER
\*********************************/

header {
	text-align: center;
}


/* For mobile phones: */
@media only screen and (max-width: 500px) {
header {
	width: 100%;
	position: fixed;
	margin: 0;
	z-index: 100;
}
header h1 {
	margin: 0;
	font-size: 150%;
}
}
/*********************************\
              MENU
\*********************************/

nav {
	width: 15%;
	position: fixed;
	text-align: center;
}

nav a {
	display: block;
}

nav a.selected {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%, rgba(255,255,0,0) 75%, rgba(255,255,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,0,1)), color-stop(75%,rgba(255,255,0,0)), color-stop(100%,rgba(255,255,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#00ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
nav {
    width: 100%;
	background-color: white;
	margin: 0;
	padding-top: 2em;
	padding-bottom: 0.5em;
	z-index: 99;
}
nav a {
	display: inline-block;
	width: 25%;
	text-transform: uppercase;
	font-weight: bold;
}
}
/*********************************\
              CONTENT
\*********************************/

article {
	width: 84%;
	float: right;
	margin-bottom: 2em;
}

article div#lastUpdateTime {
	position: absolute;
	right: 1em;
	font-size: 75%;
	color: gray;
}

.svgCode {
	text-align:center;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
article {
    width: 100%;
	margin-top: 4em;
}
article div#lastUpdateTime {
	display: none;
	visibility: hidden;
}
}

#home p {
	text-align: justify;
}
#home .quotes {
	display: inline-block;
	margin-bottom: 2em;
}
#home .quotes blockquote {
	font-style: italic;
}
#home .quotes blockquote:before {
	content: "\"";
}
#home .quotes blockquote:after {
	content: "\"";
}
#home .quotes .source {
	display: block;
	text-align: right;
	margin-top: -0.5em;
}

#home #photo {
	float: right;
	max-width: 15%;
	min-width: 100px;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
#home #photo {
	float: none;
	max-width: 50%;
	min-width: 50%;
	margin: 0;
}
}

#papers .external {
	display: inline-block;
	margin: 0.5em;
}
#papers .external:before {
	content: "[";
}
#papers .external:after {
	content: "]";
}
#papers .counter {
	vertical-align: top;
}
#papers .links a {
	display: inline-block;
	margin: 0.5em;
	position: relative; /* Required for TBA absolute positionning to work */
}
#papers .links a img {
	height: 1.5em;
}
#papers .TBA:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: black;
	text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
	content: 'TBA';
}
#papers .source:after {
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: bold;
	font-size: 60%;
	color: black;
	text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
	content: 'SRC';
}

#blog h1 {
	counter-reset: sectionCounter;
	text-align: center;
}

#blog h2 {
	counter-reset: subsectionCounter;
	counter-increment: sectionCounter;
	margin-left: 1em;
}

#blog h3 {
	counter-increment: subsectionCounter;
	margin-left: 2em;
}

#blog h2:before {
	content: counter(sectionCounter) '.\00a0';
}

#blog h3:before {
	content: counter(sectionCounter) '.' counter(subsectionCounter) '.\00a0';
}

#blog table {
	border-collapse: collapse;
}

#blog td {
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
}

#blog p {
	text-align: justify;
}

#teaching tr:hover td {
	background-color: #AFF;
}

#teaching td {
	text-align: center;
}

/*********************************\
            COPYRIGHT
\*********************************/

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: 1px solid black;
	width: 100%;
	font-size: 75%;
	height: 2em;
}

footer p {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

footer img {
	vertical-align: middle;
}

@media only screen and (max-width: 500px) {
footer * {
	display: none;
	visibility: hidden;
	font-size: 0;
}
footer a {
	display: initial;
	visibility: visible;
}
footer img {
	display: initial;
	visibility: visible;
}
}
