/*********************************\
              GLOBAL
\*********************************/

body {
}

div {
	margin: 0;
	padding: 0;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
body {
	margin: 0;
	padding: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
}
/*********************************\
              HEADER
\*********************************/

header {
	text-align: center;
}


/* For mobile phones: */
@media only screen and (max-width: 500px) {
header {
	width: 100%;
	position: fixed;
	margin: 0;
	z-index: 100;
}
header h1 {
	margin: 0;
	font-size: 150%;
}
}
/*********************************\
              MENU
\*********************************/

nav {
	width: 15%;
	position: fixed;
	text-align: center;
}

nav a {
	display: block;
}

nav a.selected {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%, rgba(255,255,0,0) 75%, rgba(255,255,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,0,1)), color-stop(75%,rgba(255,255,0,0)), color-stop(100%,rgba(255,255,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,0,1) 0%,rgba(255,255,0,0) 75%,rgba(255,255,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#00ffff00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
nav {
    width: 100%;
	background-color: white;
	margin: 0;
	padding-top: 2em;
	padding-bottom: 0.5em;
	z-index: 99;
}
nav a {
	display: inline-block;
	width: 25%;
	text-transform: uppercase;
	font-weight: bold;
}
}
/*********************************\
              CONTENT
\*********************************/

article {
	width: 84%;
	float: right;
	margin-bottom: 2em;
}

article div#lastUpdateTime {
	position: absolute;
	right: 1em;
	font-size: 75%;
	color: gray;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
article {
    width: 100%;
	margin-top: 4em;
}
article div#lastUpdateTime {
	display: none;
	visibility: hidden;
}
}

#home p {
	text-align: justify;
}
#home .quotes {
	display: inline-block;
	margin-bottom: 2em;
}
#home .quotes blockquote {
	font-style: italic;
}
#home .quotes blockquote:before {
	content: "\"";
}
#home .quotes blockquote:after {
	content: "\"";
}
#home .quotes .source {
	display: block;
	text-align: right;
	margin-top: -0.5em;
}

#home #photo {
	float: right;
	max-width: 15%;
	min-width: 100px;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1.5em;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
#home #photo {
	float: none;
	max-width: 50%;
	min-width: 50%;
	margin: 0;
}
}

#papers .external {
	display: inline-block;
	margin: 0.5em;
}
#papers .external:before {
	content: "[";
}
#papers .external:after {
	content: "]";
}
#papers .counter {
	vertical-align: top;
}
#papers .links a {
	display: inline-block;
	margin: 0.5em;
}
#papers .links a img {
	height: 1.5em;
}

#blog h1 {
	text-align: center;
	text-transform: capitalize;
}

#blog h2 {
	text-transform: capitalize;
}

#blog table {
	border-collapse: collapse;
}

#blog td {
	border: 1px solid black;
	padding: 0.5em;
	text-align: center;
}

#blog p {
	text-align: justify;
}

/*********************************\
            COPYRIGHT
\*********************************/

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: 1px solid black;
	width: 100%;
	font-size: 75%;
	height: 2em;
}

footer p {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

footer img {
	vertical-align: middle;
}

@media only screen and (max-width: 500px) {
footer * {
	display: none;
	visibility: hidden;
	font-size: 0;
}
footer a {
	display: initial;
	visibility: visible;
}
footer img {
	display: initial;
	visibility: visible;
}
}
